[Unit]
Description=Runs the touchscreen timeout service in the background

[Service]
EnvironmentFile=-/etc/default/tstimeout
ExecStart=/usr/local/bin/run-tstimeout.sh $TIMEOUT
Type=forking

[Install]
WantedBy=multi-user.target
